<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 mt-2 mb-2">
                        <div class="d-grid gap-2">
                            <a class="btn btn-outline-primary" href="/user/profile">Профиль</a>
                            <a class="btn btn-outline-primary" href="/user/profile/edit">Редактирование профиля</a>
                            <a class="btn btn-outline-primary" href="/user/profile/editPassword">Редактирование пароля</a>
                            <a class="btn btn-outline-primary" href="/user/profile/currentOrders">Текущие заказы</a>
                            <a class="btn btn-outline-primary" href="/user/profile/orderList">История покупок</a>
                        </div>
                    </div>
                    <div class="col-md-9 mt-2 mb-2">
                        <form th:action="@{/user/profile/editPassword}" th:object="${password}" class="row g-3"
                              method="post">
                            <div class="col-md-12">
                                <label for="inputOldPass" class="form-label">Старый пароль</label>
                                <input th:field="*{password}" type="password" class="form-control"
                                       id="inputOldPass" required
                                       name="oldPassword">
                                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                   class="fs-6 text-danger fw-lighter">Incorrect date</p>
                            </div>
                            <div class="col-md-6">
                                <label for="inputNewPass" class="form-label">Новый пароль</label>
                                <input th:field="*{newPassword}" type="password" class="form-control"
                                       id="inputNewPass" required
                                       name="newPassword">
                                <p th:if="${#fields.hasErrors('newPassword')}"
                                   th:errors="*{newPassword}"
                                   class="fs-6 text-danger fw-lighter">Incorrect date</p>
                            </div>
                            <div class="col-6">
                                <label for="inputConfirmNewPass" class="form-label">Повторите новый
                                    пароль</label>
                                <input th:field="*{confirmPassword}" type="password"
                                       class="form-control" id="inputConfirmNewPass" required
                                       name="confirmNewPassword">
                                <p th:if="${#fields.hasErrors('confirmPassword')}"
                                   th:errors="*{confirmPassword}"
                                   class="fs-6 text-danger fw-lighter">Incorrect date</p>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-success">Изменить пароль
                                </button>
                                <span th:text="${message}"> </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>