<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Registration</title>
</head>
<body>
<div class="row d-flex justify-content-center">
  <div class="col-6 justify-content-center">
    <form th:action="@{/home/auth}" th:object="${user}" method="POST" class="row g-6">
      <div class="col-md-12">
        <label for="Email" class="form-label">Email</label>
        <input th:field="*{email}" type="text" class="form-control" id="Email" placeholder="example@gmail.ru">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fs-6 text-danger fw-lighter">Incorrect date</p>
      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label">Password</label>
        <input th:field="*{password}" type="password" class="form-control" id="inputPassword4">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fs-6 text-danger fw-lighter">Incorrect date</p>
      </div>
      <div class="col-12 mt-2">
        <button class="btn btn-primary">Sign in</button>
        <p th:text="${message}" class="fs-6 text-danger fw-lighter"></p>
      </div>
    </form>
  </div>
</div>
</body>
</html>