<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление самалета</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <br>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Добавление самалета</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12">
            <h3 class="text-center">Добавление самалета</h3>
        </div>
        <div class="row">
            <form action="#" th:action="@{/staff/airplane/create}" th:object="${airplane}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <label for="inputBrand" class="form-label">Брэнд</label>
                        <input type="text" class="form-control" id="inputBrand" th:field="*{brand}">
                        <div th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" style="color: red;"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputCompany" class="form-label">Компания</label>
                        <input type="text" class="form-control" id="inputCompany" th:field="*{company}">
                        <div th:if="${#fields.hasErrors('company')}" th:errors="*{company}" style="color: red;"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEconomySeats" class="form-label">Количество мест эконом класса</label>
                        <input type="number" class="form-control" id="inputEconomySeats" th:field="*{economySeats}">
                        <div th:if="${#fields.hasErrors('economySeats')}" th:errors="*{economySeats}" style="color: red;"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputBusinessSeats" class="form-label">Количество мест бизнес класса</label>
                        <input type="number" class="form-control" id="inputBusinessSeats" th:field="*{businessSeats}">
                        <div th:if="${#fields.hasErrors('businessSeats')}" th:errors="*{businessSeats}" style="color: red;"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputEconomyCapacity" class="form-label">Максимальный вес багажа для эконом класса</label>
                        <input type="number" class="form-control" id="inputEconomyCapacity" th:field="*{economyCapacity}">
                        <div th:if="${#fields.hasErrors('economyCapacity')}" th:errors="*{economyCapacity}" style="color: red;"></div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputBusinessCapacity" class="form-label">Максимальный вес багажа для бизнес класса</label>
                        <input type="number" class="form-control" id="inputBusinessCapacity" th:field="*{businessCapacity}">
                        <div th:if="${#fields.hasErrors('businessCapacity')}" th:errors="*{businessCapacity}" style="color: red;"></div>
                    </div>
                    <div class="col-12 mt-2">
                        <button type="submit" class="btn btn-primary">Добавить самалет</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <th:block th:replace="fragments/alert :: alert"></th:block>
</div>
</body>
</html>
