<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Filter</title>
</head>
<body>
<form action="/search" method="get" >
    <fieldset class="bg-dark text-center text-white" style="height: 50px"  th:fragment="filter">
        <div class="mb-2" style="float:left;width: 25%; margin-top: 5px" >
            <input type="text" id="from" class="form-control" placeholder="Пункт вылета">
        </div>
        <div class="mb-2" style="float:left;width: 25%; margin-top: 5px">
            <input type="text" id="to" class="form-control" placeholder="Пункт назначения">
        </div>
        <div class="mb-2" style="float:left;width: 20%; margin-top: 5px">
            <input type="date" id="DepartureDate" class="form-control" placeholder="Дата вылета">
        </div>

        <div class="mb-2"  style="float:left;width: 10%; margin-top: 5px">
            <select id="passengers" class="form-select" placeholder="Количество пассажиров">
                <option>1 место</option>
                <option>2 места</option>
                <option>3 места</option>
                <option>4 места</option>
                <option>5 мест</option>
                <option>6 мест</option>
                <option>7 мест</option>
                <option>8 мест</option>
                <option>9 мест</option>
                <option>10 мест</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="float:left;width: 20%; margin-top: 5px">Подобрать билеты</button>
        </div>
    </fieldset>
</form>

</body>
</html>