<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<header class="p-3 bg-dark text-white" th:fragment="header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <h2 class="logo-text">Avia<br>Ticket</h2>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-white">Справка</a></li>
            </ul>

            <div class="text-end">
                <a href="/login" class="btn btn-outline-light me-2">Авторизация</a>
                <a href="/register" class="btn btn-warning">Регистрация</a>
            </div>
        </div>
    </div>
</header>
</body>
</html>
